@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Fonts */

  /* Headings - 400, 600 */
  --font-headings: "Poppins", sans-serif;
  /* Body  - 400*/
  --font-body: "Open Sans", sans-serif;

  /* Colors */
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --pink: hsl(300, 100%, 56%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 22%);
}

body {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--violet);
  background-image: url("./images/bg-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* =========================== Main Container =========================== */

.main-container {
  min-height: 50rem;
  width: 110rem;
  display: flex;
  flex-direction: column;
}

.logo {
  min-height: 5rem;
  display: flex;
  align-items: center;
}

/* =========================== Sub Container =========================== */

.sub-container {
  min-height: 44rem;
  display: flex;
  align-items: center;
}

.graphic {
  width: 55rem;
  margin-top: 2rem;
}

.graphic img {
  width: 53rem;
  height: 35rem;
}

.info-container {
  width: 55rem;
  padding: 0 5rem 5rem 3rem;
}

.info-container h1 {
  color: var(--white);
  font-family: var(--font-headings);
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.info-container p {
  color: var(--white);
  font-family: var(--font-body);
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.btn {
  cursor: pointer;
  border: none;
  color: var(--violet);
  background-color: var(--white);
  border-radius: 5rem;
  width: 14rem;
  height: 4rem;
  font-size: 1.25rem;
  box-shadow: 0 0.3rem 1rem 0 var(--gray);
  transition: 0.2s;
}

.btn:hover {
  background-color: var(--soft-magenta);
  color: var(--white);
  transform: translateY(-0.3rem);
}

/* =========================== Socials =========================== */

.socials {
  min-height: 3rem;
  text-align: right;
}

.socials .icons {
  cursor: pointer;
  color: var(--white);
  height: 1.3rem;
  width: 1.3rem;
  border: 0.1rem solid var(--white);
  padding: 0.6rem;
  border-radius: 50%;
  margin: 0.4rem;
}

.socials .icons:hover {
  color: var(--pink);
  border-color: var(--pink);
}

/* =========================== Media Queries =========================== */

@media screen and (max-width: 768px) {
  body {
    background-image: url("./images/bg-mobile.svg");
  }

  /* =========================== Main Container =========================== */
  .main-container {
    width: 23.438rem;
  }

  .logo {
    padding: 1.5rem;
  }

  .logo img {
    width: 9rem;
    height: 4.5rem;
  }

  /* =========================== Sub Container =========================== */
  .sub-container {
    width: 23.438rem;
    min-height: 42rem;
    flex-direction: column;
    align-items: center;
  }

  .info-container {
    text-align: center;
    width: 23.438rem;
    padding: 0;
  }

  .info-container h1 {
    font-size: 1.8rem;
  }

  .info-container p {
    font-size: 1rem;
    padding: 0 2.3rem 0 2.3rem;
  }

  .graphic {
    width: 23.438rem;
    display: flex;
    justify-content: center;
  }

  .graphic img {
    width: 20rem;
    height: 16rem;
  }

  .btn {
    font-size: 1rem;
    width: 16rem;
    height: 3rem;
  }

  /* =========================== Socials =========================== */

  .socials {
    display: flex;
    justify-content: center;
  }

  .socials .icons {
    height: 1.1rem;
    width: 1.1rem;
    padding: 0.4rem;
  }

  .attribution {
    text-align: center;
    margin: 3rem 0;
    font-size: 0.8rem;
  }
}
